#section-filmes-em-alta{
  width: 100%;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  margin: 90px 0 90px 0;
}

.carrossel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden; //É o que esconde os filmes que estão fora da área visível, criando o efeito de carrossel.
  position: relative; //Serve como ponto de referência para os botões de navegação
}

.filmes {
  width: 100%;
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
}

.filmes li{
  list-style: none;
  padding: 15px;
}

.filmes li button img{
  width: 180px;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.direita, .esquerda {
  position: absolute;
  z-index: 10;
  height: 20%;
 // transform: translateY(-50%);
  border: none;
  background-color: #121212;
  padding: 8px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.esquerda{
    left: 10px;
}

.direita{
    right: 10px;
}

/*
button:hover {
  background-color: rgba(0,0,0,0.75);
}
*/
