
@font-face{
    font-family: 'Netflix Sans';
    src: url(C:\Users\User\Desktop\ProjetosClone\netflix\assets\fontes\netflix-sans-font\NetflixSans-Bold.woff2) format('.woff2');
    font-weight: normal;
    font-style: normal;
}