header{
    max-width: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 30px;
}

header .options{
    display: flex;
    align-items: start;
    gap: 10px;
}

header button{
    background-color: #E50914;
    padding: 8px 15px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    cursor: pointer;
    border: 0;
}

header .custom-select{
    position: relative;
    overflow: hidden;
    padding: 6px 25px;
    border-radius: 4px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #c2c2c2;
    display: flex;
    gap: 6px;
}

header .custom-select span{
    color: white;
    font-size: 1em;
    font-weight: 300;
}

.seta{
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid white;
}
/*
.custom-select::after 
*/

::picker(select) {
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
}

header .custom-select select {
    appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    opacity: 0; 
    top: 0;
    left: 0;
    z-index: 2;
}
    
header .logoNetflix {
    width: 180px;
}

