@import "./fontes.css";

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telaInicial{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telaInicial .content-principal{
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    gap: 6px;
}

.telaInicial .content-principal h1{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.25;
}

.telaInicial .content-principal h3{
    margin-top: 20px;
}

h3{
    font-size: 1.3rem;
    font-weight: 550;
}

.telaInicial .content-principal h4{
    margin-top: 30px;
}

h4{
    font-size: 1rem;
    font-weight: 100;
}


.telaInicial form{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 90%;
}

.telaInicial form input{
    width: 65%;
    padding: 0 15px 0 15px;
    appearance: none;
    border: none;
    height: 60px;
    background: rgba(0,0,1,0.75);
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
}

.telaInicial form button{
    flex: 1;
    background-color: #E50914;
    padding: 8px 15px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
}








.content-saiba-mais{
    width: 100%;
    max-width: 75%;
    display: flex;
    gap: 20px;
    margin: 300px 0 0 0;
    transition: all 200ms ease-in-out;
}

.content-saiba-mais:hover{
  z-index: 2;
  transform: scale(1.035);
}

.content-saiba-mais .content{
    width: 100%;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-radius: 15px;
    background: radial-gradient(circle, #251733, #16193e);
}

.content-saiba-mais .content:hover{
    background: radial-gradient(circle, #482566, #161d52);
}

.content-saiba-mais .content button{
    background: #404358;
    border: 0;
    border-radius: 4px;
    padding: 12px 15px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.content-saiba-mais .content button:hover{
    background: #2e3659;
}

.content-saiba-mais img{
    width: 75px;
    height: auto;
}















